# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/app/*.iml
android/.gradle
android/local.properties
android/.idea
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/
android/.externalNativeBuild
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Web
web/.dart_tool/

# Windows
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig

# Linux
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# Coverage
coverage/

# Exceptions
!android/gradlew
!android/gradlew.bat
